[Unit]
Description=Websito
After=network.target

[Service]
User=<user>
Environment=NODE_ENV=production
WorkingDirectory=<working directory>
ExecStart=./bin/www --watch

[Install]
WantedBy=multi-user.target
