extends /layout

block bodyHead
  p Como decía Juan Palomo, yo me lo guiso, yo me lo como. Siguiendo con el noble objetivo de evitar el uso de software como Facebook, en este apartado iré subiendo fotos estilo Instagram.
  p Por supuesto, de estilo Instagram tiene tan solo el que son fotos con un pequeño texto debajo. Quizá añada en algún momento un mapita (me gustaba muchísimo el mapa que tenía Instagram hace algunos años) y tags, para poder tener varias colecciones. Por ahora será tan solo un listado de imágenes ordenadas por fecha.

block content
  div.row.row-cols-2.row-cols-md-2.g-4
    each foto, idx in foto_list
      div.col-md-4
        div.card.fotorow
          img.card-img-top.fotocard(src=`/fotos/thumbnail/${foto.photo}`)
          a.fotolink.stretched-link(href=`/foto/${foto_list.length-idx-1}`) #{foto.date} - #{foto.comment.slice(0,7)}...
