extends layout


block bodyHead 
  div.row
    div.col-lg-3
      figure
        img.figure-img.img-fluid.rounded(src="./images/uncafe.jpg", width=172, height=200)
        figcaption.figure-caption Fig. 1: Physicist having a relaxing cup of café con leche.
    div.col-lg-9
      p I am currently a #[a(href="https://home.cern/") CERN] fellow in the #[a(href="https://th-dep.web.cern.ch/") Theory group]. Previously I've worked at the Department of Physics of the University of Milan, as part of the #[a(href="http://n3pdf.mi.infn.it/") N3PDF] team, and a PhD student at #[a(href="https://www.ippp.dur.ac.uk/") Durham University].
      p My main #[a(href="research") research] interests are developing new #[a(href="research#software") computing tools] for high precision calculations and the theory of strong interactions: state-of-the-art calculations for higher order precision calculations as well as modelling the partonic content of the parton.
      p In my spare time you can usually find me #[a(href="software") coding], #[a(href="biblioteca/libros") reading], watching #[a(href="https://anilist.co/user/jumax9/animelist") anime], playing #[a(href="https://howlongtobeat.com/user?n=jumax9") videogames], #[a(href="https://www.instagram.com/jumax9/") #[i going places]], #[a(href="https://xkcd.com/2155/") swimming] or, more often than not, having some kind of #[a(href="http://phdcomics.com/comics/archive.php?comicid=1488") existencial crisis] as I try to #[a(href="https://xkcd.com/942/") juggle] everything to keep a  #[a(href="https://www.smbc-comics.com/comic/worklife-balance") balanced work-life equilibrium].

  p You can contact me by #[a(href="mailto:juacrumar@lairen.eu") mail], #[a(href="https://twitter.com/juacrumar") twitter] or #[a(href="https://xkcd.com/1254/") messenger pigeon].

block content
