
extends layout


block bodyHead 
  h1 Juan Manuel Cruz Martinez
  p I am a postdoctoral fellow at the Department of Physics of the University of Milan, working as a part of the #[a(href="http://n3pdf.mi.infn.it/") N3PDF] team. 
  p Previously I worked the #[a(href="https://www.ippp.dur.ac.uk") IPPP] of #[a(href="https://www.dur.ac.uk") Durham University] (UK) where I did my Ph.D. Thesis as part of the Initial Training Network #[a(href="https://higgstools.org/") Higgstools].
  p My main research interest are developing new computing tools for high precision calculations and the theory of strong interactions. I have work on the state-of-the-art calculation for higher order precision calculation for QCD corrections to Higgs physics as well as on the partonic content of the parton.

block content
