extends layout


block bodyHead 
  div.row
    div.col-lg-3
      figure
        img.figure-img.img-fluid.rounded(src="./images/uncafe.jpg", width=190, height=221, style="margin-top: 20px;")
        figcaption.figure-caption Fig. 1: Physicist having a relaxing cup of café con leche.
    div.col-lg-9
      p I am currently a #[a(href="https://home.cern/") CERN] fellow in the #[a(href="https://th-dep.web.cern.ch/") Theory group]. Previously I've worked at the Department of Physics of the University of Milan, as part of the #[a(href="http://n3pdf.mi.infn.it/") N3PDF] team. I did my PhD at #[a(href="https://www.ippp.dur.ac.uk/") Durham University].
      p My main #[a(href="research") research] interests are at the intersection between High Energy Physics (HEP) and High Performance Computing (HPC). I am part of the NNPDF collaboration, where we utilize Machine Learning techniques to model the partonic structure (quarks and gluons) of the proton in highly energetic collisions. I am involved with the development of several #[a(href="research#software") computing tools] dedicated to state-of-the-art high precision calculations using either novel methodologies or new hardware, such as Graphics Processing Units (GPUs) or Quantum Computers (QC).
      p In my spare time you can usually find me #[a(href="software") coding], reading, watching  anime, playing  videogames, #[a(href="/foticos") #[i going places]], #[a(href="https://xkcd.com/2155/") swimming] or, more often than not, having some kind of #[a(href="http://phdcomics.com/comics/archive.php?comicid=1488") existencial crisis] as I try to keep a  #[a(href="https://www.smbc-comics.com/comic/worklife-balance") balanced work-life equilibrium].
      p You can contact me by #[a(href="mailto:juacrumar@lairen.eu") mail], #[a(href="https://bsky.app/profile/juacrumar.es") bluesky] or #[a(href="https://xkcd.com/1254/") messenger pigeon].

  p(align="left")
    i.fas.fa-envelope
    noscript ✉️ 
    a(href="mailto:juan.cruz.martinez@cern.ch")  juan.cruz.martinez@cern.ch

  p(align="left")
    i.fas.fa-envelope
    noscript ✉️ 
    a(href="mailto:juacrumar@lairen.eu")  juacrumar@lairen.eu
    
 

block content
