
extends layout


block bodyHead 
  div.row
    div.col-lg-3
      figure
        img.figure-img.img-fluid.rounded(src="./images/uncafe.jpg", width=172, height=200)
        figcaption.figure-caption Fig. 1: Physicist having a relaxing cup of café con leche
    div.col-lg-9
      p I am a postdoctoral fellow at the Department of Physics of the University of Milan, working as a part of the #[a(href="http://n3pdf.mi.infn.it/") N3PDF] team. My main #[a(href="research") research] interests are developing new #[a(href="research#software") computing tools] for high precision calculations and the theory of strong interactions: state-of-the-art calculations for higher order precision calculations as well as modelling the partonic content of the parton. I am also the teaching assistant for the #[a(href="teaching#informatica-c") C++] and #[a(href="teaching#fisica-quantistica-quantum-physics") Quantum Physics] courses at the University of Milan.
      p In my spare time you can usually find me #[a(href="software") coding], #[a(href="https://www.goodreads.com/user/show/16346384-jumax9") reading], watching #[a(href="https://anilist.co/user/jumax9/animelist") anime], playing #[a(href="https://steamcommunity.com/id/jumax9") videogames], #[a(href="https://www.instagram.com/jumax9/") #[i going places]], #[a(href="https://xkcd.com/2155/") swimming] or, more often than not, #[a(href="http://phdcomics.com/comics/archive.php?comicid=1488") struggling for breath] as I try to #[a(href="https://xkcd.com/942/") juggle] everything to keep a  #[a(href="https://www.smbc-comics.com/comic/worklife-balance") balanced work-life equilibrium].

  p You can contact me by mail, twitter or messenger pigeon.

block content
