
extends layout


block bodyHead 
  h1 Juan Manuel Cruz Martinez
  p I am a postdoctoral fellow at the Department of Physics of the University of Milan, working as a part of the #[a(href="http://n3pdf.mi.infn.it/") N3PDF] team. 
  p My main research interest are developing new computing tools for high precision calculations and the theory of strong interactions: state-of-the-art calculations for higher order precision calculations as well as modelling the partonic content of the parton.
  p Besides research, I am also the teaching assistant for the C++ and Quantum Physics courses at the University of Milan.

block content
