
extends layout


block bodyHead 
  h1 Juan Manuel Cruz Martinez
  p I am a postdoctoral fellow at the Department of Physics of the University of Milan, working as a part of the #[a(href="http://n3pdf.mi.infn.it/") N3PDF] team. 
  p Previously I worked the #[a(href="https://www.ippp.dur.ac.uk") IPPP] of #[a(href="https://www.dur.ac.uk") Durham University] (UK) where I did my Ph.D. Thesis as part of the Initial Training Network #[a(href="https://higgstools.org/") Higgstools].
  p My main research interest are developing new computing tools for high precision calculations and the theory of strong interactions. I have work on the state-of-the-art calculation for higher order precision calculation for QCD corrections to Higgs physics as well as on the partonic content of the parton.
  p These are some of the projects I have worked on.

block content
  div.row
    div.col-md-4
      h2 VegasFlow
      p Monte Carlo integration library written in Python and based on the TensorFlow framework. It is developed with a focus on speed and efficiency, enabling researchers to perform very expensive calculation as quick and easy as possible.
      a.btn.btn-secondary(href="https://vegasflow.readthedocs.io/en/latest/") Documentation
    div.col-md-4
      h2 pyHepGrid
      p Tool for distributed computing management geared towards HEP applications. 
      a.btn.btn-secondary(href="https://github.com/scarlehoff/pyHepGrid") Repository
    div.col-md-4
      h2 pybliotecario
      p simple Telegram bot written en python. The goal of the program is to mantain an active connection between the computer in which the pybliotecario runs and your Telegram account.
      a.btn.btn-secondary(href="https://github.com/scarlehoff/pybliotecario") Repository
