doctype html
html
  head
    block csp
      meta(http-equiv="Content-Security-Policy", charset="UTF-8", content="default-src 'self'; \
        img-src 'self' data: https://* ;\
        script-src 'self' kit.fontawesome.com cdn.jsdelivr.net code.jquery.com stackpath.bootstrapcdn.com 'sha256-+LV2isFC2hC0gXPadTuf/LPvHK75pq0t58QYBR5IPVY=';\
        style-src 'self' 'unsafe-inline' stackpath.bootstrapcdn.com cdn.materialdesignicons.com cdn.rawgit.com cdn.jsdelivr.net ;\
        font-src 'self' ka-f.fontawesome.com cdn.jsdelivr.net data: ;\
        object-src 'none' ;\
        connect-src 'self' ka-f.fontawesome.com inspirehep.net")
    block title
    title= pagetitle ? pagetitle : title
    meta(name="active-menu", content=menuId)
    block extracss
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // Custom stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
    // Font awesome icons in the upper right corner (icons like twitter, gihtub, linkedin, version 6.4.0)
    script(src="https://kit.fontawesome.com/32dfc55f8c.js")
      
  body.bg-light
    header
      nav.navbar.navbar-toggleable-sm.navbar-expand-sm.navbar-dark.bg-dark
        button.navbar-toggler.navbar-toggler-right(data-toggle="collapse", data-target="#navbarDiv")
          span.navbar-toggler-icon
        a.navbar-brand(href="/") Home 
        div.collapse.navbar-collapse(id="navbarDiv")
          ul.navbar-nav.mr-auto
            li.nav-item(class=(title=="Research" ? 'active' : ''))
              a.nav-link(href="/research") Research
            li.nav-item(class=(title=="Software" ? 'active' : ''))
                a.nav-link(href="/software") Software
            li.nav-item(class=(title=="Teaching" ? 'active' : ''))
                a.nav-link(href="/teaching") Teaching
            li.nav-item(class=(title=="Resume" ? 'active' : ''))
                a.nav-link(href="/resume") Resume 
            li.nav-item(class=(title=="Foticos" ? 'active' : ''))
                a.nav-link(href="/Foticos") Foticos
            // li.nav-item(class=(title=="Biblioteca" ? 'active' : ''))
                a.nav-link(href="/biblioteca") Biblioteca
          ul.navbar-nav.ml-auto
            li.nav-item
              a.fa-brands.fa-orcid.nav-link(href="https://orcid.org/0000-0002-8061-1965")
            li.nav-item
              a.fab.fa-github.nav-link(href="https://github.com/scarlehoff/")
            li.nav-item
              a.fab.fa-twitter.nav-link(href="http://twitter.com/juacrumar")
            li.nav-item
              a.fa-brands.fa-bluesky.nav-link(href="https://bsky.app/profile/juacrumar.es")
            li.nav-item
              a.fab.fa-linkedin.nav-link(href="https://www.linkedin.com/in/juacrumar/")
          // Links for those w/o js enabled
          noscript
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href="https://github.com/scarlehoff/") github
              li.nav-item
                a.nav-link(href="https://bsky.app/profile/juacrumar.es") bluesky
              li.nav-item
                a.nav-link(href="https://www.linkedin.com/in/juacrumar/") linkedin

    div.container(style='margin-top: 3%;')
      block bodyHeadContainer
        div.jumbotron
          h2= headertitle ? headertitle : (pagetitle ? pagetitle : title)
          block bodyHead
    div.container
      block content
      hr
    block footer
      footer.container
        p(align='left')
        p(align="right") Juan M. Cruz-Martinez (#[a(href="mailto:juacrumar@lairen.eu") juacrumar@lairen.eu] - #[a(href="pgpjuacrumar.asc") pgp key])
        // Facilitates anchoring
        script(src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js", integrity="sha256-aQmOEF2ZD4NM/xt4hthzREIo/2PFkOX/g01WjxEV7Ys=", crossorigin="anonymous")
        script anchors.add('.anchored');
        // Bootstrap
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js", integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI", crossorigin="anonymous")
        //script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
        block extrajs
