extend layout

block bodyHead
  p Small applet to make calls to the api of #[a(href="https://inspirehep.net/") INSPIRE] and doing small operations with it.
  p The use case (and the reason this was born) is when you have to fill some repetitive bureaucracy which requires some specific information in some specific format. If you have to do so every year your available papers might have changed and you see yourself filling the same paperwork over and over again.
  p For now this is only using the #[a(href="http://old.inspirehep.net/info/hep/api") API] provided by #[a(href="https://inspirehep.net/") INSPIRE]. I might eventually add a #[a(href="https://orcid.org/organizations/integrators/API") ORCiD] if I see myself in need.
  p Note: this is a js applet running on the browser, i.e., everything happens in the client side so no information is uploaded anywhere. The only connection to the internet is the API call to INSPIRE. It is possible to format the output using HTML tags.

block content
  h4 Prepare your query
  p You can use the following self descriptive keywords, that will be substituted with the corresponding information $PAGES, $AUTHORS, $JOURNAL, $TITLE, $PAGEJOURNAL, $VOLJOURNAL, $PUBYEAR, $DOI
  form
    div.row
      div.col-6
        div.form-group
          label(for='authorForm') Author
          input.form-control(id='authorForm', type='text', placeholder="Cruz-Martinez")
      div.col-6
        div.form-check
          input.form-check-input(type='checkbox', value="", id="publishedCheck")
          label.form-check-label(for="publishedCheck") Published only
        div.form-check
          input.form-check-input(type='checkbox', value="", id="ignoreProceedingsCheck")
          label.form-check-label(for="publishedCheck") Ignore proceedings
      div.col-6
        div.form-group
          label(for='selectApi') Select API:
          select.browser-default.custom-select(id='selectApi')
            option(selected) InspireHEP
      div.col-12
        div.form-group
          label(for="exampleText") Per-publication text:
          textarea.form-control(id="exampleText", rows=3, placeholder="The paper $TITLE published in $JOURNAL volume $VOLJOURNAL pag. $PAGEJOURNAL has $PAGES pags")
      div.col-6
        button.btn.btn-outline-success(type='button', id='runQuery') Run
  hr
  p(id='queryInfoContent')
  div.container(style='margin-top: 20px;', id='informationContent')

  script
    include pubdigest.js
