extends layout

block bodyHead
  p In this page you can find some of the higlights of my resume
  p You can also download the PDF version here, 
  p There is also the academic version with a focus on publications and conferences attended.

block content
  h2 Technologies
  div.container
    div.row
      div.col-sm
        p Fortran, C++, python, javascript, opencl
      div.col-sm
        p tensorflow, keras, vim, linux
      div.col-sm
        p tensorflow, keras, vim, linux
