extends layout

block bodyHead
  p In this page you can find some of the higlights of my resume
  p You can also download the PDF version here, 
  p There is also the academic version with a focus on publications and conferences attended.

block content
  div.container-fluid.text-center(id="tech")
    div.row
      div.col-sm-12
        h2 Technical skills
      div.col-sm-6
        h4 Programming languages
        p Fortran, C++, python, javascript, opencl
      div.col-sm-6
        h4 Libraries and technologies
