extends layout

block extracss
  link(rel='stylesheet', href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css")
  script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
  script(src='./sql.js/dist/sql-wasm-debug.js')

block bodyHeadContainer
  p
  
block content
  div.container
    div(id='mapid', style='height:450px;')
  div.container(style='margin-top: 20px;')
    div.row
      div.input-group.col-3
        div.custom-file
          input.custom-file-input(type="file", id="dbfile")
          label.custom-file-label(for='dbfile', id='dbname') Choose file
    div.row(style='margin-top: 20px;')
      div.col-2
        button.btn.btn-outline-success(type='button', id='runQuery') Run
      div.col-1
        button.btn.btn-outline-danger(type='button', id='clearMarkers') Clear
    div.container(style='margin-top: 20px;', id='informationContent')
  script
    include stats.js