extends layout

block bodyHead
  p As part of my academic duties I have teached or being assistant to several courses. I have left here some of the information of the #[a(href="#current") current] running courses as well as #[a(href="#past") past] materials that can be of usage.
  p I have also participated in several science outreach activities both in #[a(href="https://www.dur.ac.uk/physics/outreach/saturdaymorning/") Durham] and as part of the #[a(href="https://higgstools.org/WP6") Higgstools] network. 

block content
  h2.anchored(id="current") Ongoing courses
  h4.anchored Fisica Quantistica (Quantum physics)
  p Course 2019/2020, Università degli Studi di Milano
  p This course has been moved to online teaching due to the COVID-19 emergency. For more information see the #[a(href="https://sfortefqm1.ariel.ctu.unimi.it/") webpage] of the course.
  p 
    b Recommended reading: 
    span the course follows closely the book #[a(href="https://www.zanichelli.it/ricerca/prodotti/fisica-quantistica") Fisica Quantistica] by Stefano Forte and Luca Rottoli.

  hr
  h2.anchored(id="past") Past teaching

  h4.anchored Informatica C++ 
  p Course 2019/2020, Università degli Studi di Milano
  p The materials for the course, problems and solutions, can be found in the github #[a(href="https://github.com/scarrazza/informatica2019") repository] of the course.
  p 
    b Recommended reading: 
    span Beginning C++ Trhough Game Programming (Mcihael Dawson). This is a good book to improve on your programming skills.

  h4.anchored Discovery Skills
  p Course 2017/2018, University of Durham
  p You can see the #[a(href="https://www.dur.ac.uk/physics/modules/2015/phys1101/") webpage] of the course for more information.
