extends layout

block bodyHead
  p Doing coursework is hard

block content
  h4 Fisica Quantistica
  p For more information see the #[a(href="http://pcforte.mi.infn.it/mq/index.html") webpage] of the course.
