extends layout

block bodyHead
  h3 Fisica Quantistica
  p For more information see the #[a(href="http://pcforte.mi.infn.it/mq/index.html") webpage] of the course.

block content
  p Previous courses
