extends layout

block bodyHead
  p As part of my academic duties in the #[a(href="https://departamento.us.es/fisamyn/") Física Atómica, Molécular y Nuclear] department of the University of Sevilla, I teach the courses of Quantum Mechanics (master level) and serve as a laboratory tutor for the undergraduate Quantum Physics course.
  p In the past I have been a teaching assistant at the University of Milan for the 2nd and 3rd year Quantum Physics course and the 1st year informatics course.
  p I've also directed or supervised master and graduate thesis', some of which are also listed #[a(href="#tesine") below].
  p I have also participated in several science outreach activities both in #[a(href="https://www.dur.ac.uk/physics/outreach/saturdaymorning/") Durham] and as part of the #[a(href="https://higgstools.org/WP6") Higgstools] network.
  p I am always keen on preparing projects for new students so please feel free to reach out if you would like me to supervise your #[i TFG] or #[i TFM]! Have a look at the #[a(href="research/") research] page to see some of the topics I work on, perhaps something inspires you!

block content
  h1.anchored(id="tesine") Supervised students
  h4.anchored Master thesis
  ul
    li
      b G. Palazzo 
      span  (2021): 
      a(href="https://github.com/GabrielePalazzo/MadFlow-Custom_Op-generator") Improving performance of automated generation of matrix elements for Monte Carlo event generators
    li
      b A. Pasquale
      span  (2021): 
      a(href="https://github.com/andreapasquale97/thesis/blob/main/thesis/slides/slides.pdf") New Monte Carlo Algorithms for Multi-Dimensional Integration with Hardware Acceleration
    li
      b N. Lambri
      span  (2020): 
      a(href="http://nnpdf.mi.infn.it/wp-content/uploads/2021/01/thesis_lambri.pdf") Optimized regression models for parton distribution functions determination using deep learning models
    li
      b E. Villa
      span  (2019): 
      a(href="https://inspirehep.net/literature/1755647") Investigating GPU hardware for fast PDF convolutions
  h4.anchored Bachelor thesis
  ul
    li
      b D. Chemoli
      span  (2021): 
      a(href="http://nnpdf.mi.infn.it/") The effect of discrete dataset selection on the gluon PDF
    li
      b F. P. Guerci
      span  (2021): 
      a(href="http://nnpdf.mi.infn.it/") Overfitting and gaussianity of Parton Distribution Functions
    li
      b F. Settimo
      span  (2019): 
      a(href="http://nnpdf.mi.infn.it/wp-content/uploads/2021/01/tesi_settimo.pdf") Stability studies in the determination of parton distributions

  hr
  h1.anchored(id="past") Past teaching
  h4.anchored Fisica Quantistica II (Quantum physics)
  p Course 2020/2021, Università degli Studi di Milano
  p For more information see the #[a(href="https://sfortefqm1.ariel.ctu.unimi.it/") webpage] of the course.
  p
    b Recommended reading: 
    span the course follows closely the book #[a(href="https://www.zanichelli.it/ricerca/prodotti/fisica-quantistica") Fisica Quantistica] by Stefano Forte and Luca Rottoli.

  h4.anchored Fisica Quantistica I (Quantum physics)
  p Course 2019/2020, Università degli Studi di Milano
  p For more information see the #[a(href="https://sfortefqm1.ariel.ctu.unimi.it/") webpage] of the course.
  p 
    b Recommended reading: 
    span the course follows closely the book #[a(href="https://www.zanichelli.it/ricerca/prodotti/fisica-quantistica") Fisica Quantistica] by Stefano Forte and Luca Rottoli.

  h4.anchored Informatica C++ 
  p Course 2019/2020, 2020/2021 and 2021/2022 Università degli Studi di Milano
  p The materials for the past year, problems and solutions, can be found in the github #[a(href="https://github.com/scarrazza/informatica2021") repository] of the course.
  p 
    b Recommended reading: 
    span Beginning C++ Through Game Programming (Michael Dawson). This is a good book to improve on your programming skills.

  h4.anchored Discovery Skills
  p Course 2017/2018, University of Durham
  p You can see the #[a(href="https://www.dur.ac.uk/physics/modules/2015/phys1101/") webpage] of the course for more information.
