extends layout

block bodyHead
  p As part of my academic duties I have served as teaching assistant, tutor or #[i esercitatore] to several courses. I have left here some of the information of the #[a(href="#current") current] running courses as well as #[a(href="#past") past] materials that can be of usage.
  p I've also served as co-supervisor for several master and graduate thesis', some of which are also listed #[a(href="#tesine") below].
  p I have also participated in several science outreach activities both in #[a(href="https://www.dur.ac.uk/physics/outreach/saturdaymorning/") Durham] and as part of the #[a(href="https://higgstools.org/WP6") Higgstools] network. 

block content
  h1.anchored(id="current") Ongoing courses
  p I am currently serving as assistant professor for the informatics course (Informatica) for first year physic students as well as engaging in the supervision of several students on some of the topics presented in the #[a(href="research") research page].
  h2.anchored Informatica C++
  p Course 2021/2022 Università degli Studi di Milano
  p The materials for the past year, problems and solutions, can be found in the github #[a(href="https://github.com/scarrazza/informatica2020") repository] of the course.
  p
    b Recommended reading:
    p Beginning C++ Through Game Programming (Michael Dawson). This is a good book to improve on your programming skills.
    p The official #[a(href="https://docs.python.org/3/tutorial/") python tutorial]: while not a requirement of the course at this point, Python will certainly help in your future career.
  hr

  h1.anchored(id="tesine") Supervised students
  h4.anchored Master thesis
  ul
    li
      b A. Pasquale
      span  (2021): 
      a(href="https://github.com/andreapasquale97/thesis/blob/main/thesis/slides/slides.pdf") New Monte Carlo Algorithms for Multi-Dimensional Integration with Hardware Acceleration
    li
      b N. Lambri
      span  (2020): 
      a(href="http://nnpdf.mi.infn.it/wp-content/uploads/2021/01/thesis_lambri.pdf") Optimized regression models for parton distribution functions determination using deep learning models
    li
      b E. Villa
      span  (2019): 
      a(href="https://inspirehep.net/literature/1755647") Investigating GPU hardware for fast PDF convolutions
  h4.anchored Bachelor thesis
  ul
    li
      b F. Settimo
      span  (2019): 
      a(href="http://nnpdf.mi.infn.it/wp-content/uploads/2021/01/tesi_settimo.pdf") Stability studies in the determination of parton distributions

  hr
  h1.anchored(id="past") Past teaching
  h4.anchored Fisica Quantistica II (Quantum physics)
  p Course 2020/2021, Università degli Studi di Milano
  p For more information see the #[a(href="https://sfortefqm1.ariel.ctu.unimi.it/") webpage] of the course.
  p
    b Recommended reading: 
    span the course follows closely the book #[a(href="https://www.zanichelli.it/ricerca/prodotti/fisica-quantistica") Fisica Quantistica] by Stefano Forte and Luca Rottoli.

  h4.anchored Fisica Quantistica I (Quantum physics)
  p Course 2019/2020, Università degli Studi di Milano
  p For more information see the #[a(href="https://sfortefqm1.ariel.ctu.unimi.it/") webpage] of the course.
  p 
    b Recommended reading: 
    span the course follows closely the book #[a(href="https://www.zanichelli.it/ricerca/prodotti/fisica-quantistica") Fisica Quantistica] by Stefano Forte and Luca Rottoli.

  h4.anchored Informatica C++ 
  p Course 2019/2020 and 2020/2021, Università degli Studi di Milano
  p The materials for the past year, problems and solutions, can be found in the github #[a(href="https://github.com/scarrazza/informatica2020") repository] of the course.
  p 
    b Recommended reading: 
    span Beginning C++ Through Game Programming (Michael Dawson). This is a good book to improve on your programming skills.

  h4.anchored Discovery Skills
  p Course 2017/2018, University of Durham
  p You can see the #[a(href="https://www.dur.ac.uk/physics/modules/2015/phys1101/") webpage] of the course for more information.
