extend layout

block extracss
  // MSAL
  script(type="text/javascript", src="https://alcdn.msauth.net/browser/2.1.0/js/msal-browser.min.js", integrity="sha384-EmYPwkfj+VVmL1brMS1h6jUztl4QMS8Qq8xlZNgIT/luzg7MAzDVrRa2JxbNmk/e", crossorigin="anonymous")
  // Graph SDK
  script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/@microsoft/microsoft-graph-client/lib/graph-js-sdk.js")


block bodyHead
  p Applet to retrieve information from Microsoft To Do.

block content
  h4 Prepare your query

  main.container(role="main", id="account-nav")


  script
    include todoapp.js

