extend layout

block extracss
  // MSAL
  script(type="text/javascript", src="https://alcdn.msauth.net/browser/2.1.0/js/msal-browser.min.js", integrity="sha384-EmYPwkfj+VVmL1brMS1h6jUztl4QMS8Qq8xlZNgIT/luzg7MAzDVrRa2JxbNmk/e", crossorigin="anonymous")
  // Graph SDK
  script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/@microsoft/microsoft-graph-client/lib/graph-js-sdk.js")


block bodyHead
  p Applet to retrieve information from Microsoft To Do.

block content
  h4 Prepare your query
  button.btn.btn-primary.btn-large(onclick="signIn()", id="signmein") Sign in
  div.row.mb-1(style='margin-top: 20px;')
    div.col-6
      select.browser-default.custom-select(id='selectorWeb')
        option(selected) Select a list
    button.btn.btn-info.btn-large(onclick="showTasks()", id="showTasks") Receive tasks
  
  div.row.mb-1(style='margin-top: 20px;')
    main.container.col-12(role="main", id="main-container")


  script
    include todoapp.js
  // moment
  script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js")
  script(type="text/javascript", src="https://momentjs.com/downloads/moment-timezone-with-data-10-year-range.js")

