extends /layout

block bodyHead 
  p Me gusta mantener listados de las cosas que #[a(href="https://www.goodreads.com/user/show/16346384-jumax9") leo], #[a(href="https://anilist.co/user/jumax9/animelist") veo] o #[a(href="https://howlongtobeat.com/user?n=jumax9") juego], con pequeñas reseñas, como seguramente ha quedado claro en la presentación. Hoy en día, en la web 2.0, existen muchos servicios que nos permiten compartir dichos listados a través de las redes sociales pero, honestamente, echo un poco de menos la sensación retro de la web 1.0, cuando uno mantenía una sus propias listas de tonterías en su propia web.
  p Al igual que el blog, esta parte la escribo principalmente en español.
  p Dado que llevo un tiempo escribiendo reseñas y reviews como notas en markdown (soy retro #[i così]) esta parte de la web será en práctica un dump del contenido de esas notas de manera (más o menos) ordenada.

block content
  div.row.row-cols-1.row-cols-md-2.g-4
    div.col-md-4
      div.card
        img.card-img-top.bibliocard(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Bookshelf_at_Yale.jpg/320px-Bookshelf_at_Yale.jpg")
        a.card-body.btn.btn-info.stretched-link(href="/libros") Libros
    div.col-md-4
      div.card
        img.card-img-top.bibliocard(src="https://upload.wikimedia.org/wikipedia/it/8/84/Gintama_sigla.png")
        a.card-body.btn.btn-info.stretched-link(href="https://anilist.co/user/jumax9/animelist") Anime
    div.col-md-4
      div.card
        img.card-img-top.bibliocard(src="https://upload.wikimedia.org/wikipedia/en/3/3a/Legend_of_Zelda_NES.PNG")
        a.card-body.btn.btn-info.stretched-link(href="https://howlongtobeat.com/user?n=jumax9") Videojuegos
